

<div>

    <h4>&emsp; A Cascade Grandchild</h4>
    &emsp; The meaning of life is still @Meaning

</div>

@code {

    [CascadingParameter(Name = "Answer")]
    private int Meaning { get; set; }

    /*
     * Note, there is not way to raise the meaning of life here
     */

}
