@page "/cascading"

@using BlazorTemplate.Client.Components

<h3>CascadingParameter Page</h3>

<CascadingValue Value="@Answer" Name="Answer">
    <CascadeChild OnMeaningRaise="RaiseMeaning"></CascadeChild>
    <CascadeChild></CascadeChild>
    <CascadeChild OnMeaningRaise="RaiseMeaning"></CascadeChild>
</CascadingValue> 

<div>
    <button type="button" class="btn btn-primary" @onclick="RaiseMeaning">Raise Meaning</button>
</div>

@code {

    private int Answer = 42;

    private void RaiseMeaning()
    {
        Answer++;
        StateHasChanged();
    }

}
