@page "/cssisolation"

<!--
    Note that css isolation only works inside a <div> section, not on the 
        top level. Might be a bug and be fixed later though.
-->
<div>
    <h3>CssIsolationPage</h3>
    <a href="/counter">This link is green, only on this page</a>
</div>
