@page "/renderfragment"

@using BlazorTemplate.Client.Components

<h3>RenderFragment Page</h3>

<ProfilePicture>
    <img src="images/appLogo.jpg" />
</ProfilePicture>

<ProfilePicture>
    <img src="images/appLogo.jpg" />
</ProfilePicture>

<ProfilePicture>
    <img src="images/appLogo.jpg" />
</ProfilePicture>

