@using BlazorTemplate.Client.Components

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorTemplate</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <ProfilePicture>
            <img class="img-fluid rounded-circle" src="images/appLogo.jpg" />
        </ProfilePicture>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventcallback">
                <span class="oi oi-plus" aria-hidden="true"></span> Event callback
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navigation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Navigation manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="renderfragment">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Render fragment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dynamic">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dynamic components
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cssisolation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Css isolation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cascading">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cascading
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templated">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Templated
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collapsible">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Collapsible
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jsinterop">
                <span class="oi oi-list-rich" aria-hidden="true"></span> JS interop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cancellationtoken">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CancellationToken
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multipleapicall">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Multiple api call
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
