@using BlazorTemplate.Client.Components

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorTemplate</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">

        <ProfilePicture>
            <img class="img-fluid rounded-circle" src="images/appLogo.jpg" />
        </ProfilePicture>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandBasicsNav = !expandBasicsNav">
                <span class="oi oi-plus" aria-hidden="true"></span> Basics
            </NavLink>
            @if (expandBasicsNav)
            { 
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="eventcallback">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Event callback
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="navigation">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Navigation manager
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="renderfragment">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Render fragment
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="dynamic">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Dynamic components
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="cascading">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Cascading
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="templated">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Templates
                    </NavLink>
                </div>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandCssJsSubNav = !expandCssJsSubNav">
                <span class="oi oi-plus" aria-hidden="true"></span> Js-Css interop
            </NavLink>
            @if (expandCssJsSubNav)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="jsinterop">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> JS interop
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="cssisolation">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Css isolation
                    </NavLink>
                </div>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandApiInterop = !expandApiInterop">
                <span class="oi oi-plus" aria-hidden="true"></span> API interop
            </NavLink>
            @if (expandApiInterop)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="cancellationtoken">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> CancellationToken
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="multipleapicall">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Multiple api call
                    </NavLink>
                </div>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandControlsNav = !expandControlsNav">
                <span class="oi oi-plus" aria-hidden="true"></span> Controls
            </NavLink>
            @if (expandControlsNav)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="treeview">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Treeview (recursive)
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="collapsible">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Collapsible
                    </NavLink>
                </div>
            }
        </div>

    </nav>
</div>

@code {
    private bool expandBasicsNav = false;
    private bool expandCssJsSubNav = false;
    private bool expandControlsNav = false;
    private bool expandApiInterop = false;
}
